body{
    background-color: whitesmoke;
}

.home-section{
    height: 91.9vh;
}

#navbar{
    height: 7.15vh;
    padding-top: 0%;
    padding-bottom: 0%;
}
.hello{
    font-family: 'Ubuntu', sans-serif;
}
.gunish{
    font-family: 'Ubuntu', sans-serif;
}