body{
    background-color: whitesmoke;
}

.home-section{
    height: 84.9vh;
}

#form-section{
    height: 84.9vh;
}

#skill-section{
    height: 84.9vh;
}

#footer{
    height: 7vh;
}

#navbar{
    height: 7.15vh;
    padding-top: 0%;
    padding-bottom: 0%;
}
.hello{
    font-family: 'Ubuntu', sans-serif;
}
.gunish{
    font-family: 'Ubuntu', sans-serif;
}