body{
    background-color: whitesmoke;
}

#home-section{
    /* height: 84.9vh; */
}

#form-section{
    height: 84.9vh;
}

#skill-section{
    height: 84.9vh;
}

.footer{
    height: 7rem;
}

#navbar{
    padding-top: 0%;
    padding-bottom: 0%;
    background-color: whitesmoke;
}
.hello{
    font-family: 'Ubuntu', sans-serif;
}
.gunish{
    font-family: 'Ubuntu', sans-serif;
}